@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

* {
  font-family: "proxima-nova-soft", Arial, sans-serif;
}

.title-blue {
  color: #3498db;
  margin: 0 0 10px;
  font-size: 3em;
  font-weight: 700;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  vertical-align: middle;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/*
---------------------------
OUR WORK
---------------------------
*/

#works {
  padding: 50px 0 0;
  background-color: #f9f9f9;
}

.section {
  padding: 75px 0;
}

.section-works {
  margin: 0 0 50px;
  text-align: center;
}

@media (min-width: 768px){
  .section-works {
      text-align: left;
  }
}

.section-span {
  position: relative;
  width: 225px;
  height: 225px;
  margin: 0 auto 20px;
  background-color: #ffcc66;
  border-radius: 50%;
}

.p-text {
  font-size: 18px;
  line-height: 24px;
  line-height: 1.71429rem;
  display: block;
  margin: 0 0 10px;
  font-weight: 600;
  letter-spacing: 0;
}

@media screen and (min-width: 768px){
  .p-text {
      font-size: 1.25em;
      line-height: 3.2rem;
  }
}

@media screen and (max-width: 768px){
  .p-text {
      font-size: 1.15em;
      line-height: 2.8rem;
  }
}

.section-span .icon {
  width: 155px;
  height: 155px;
}

.icon-works {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


/*
---------------------------
OUR PROMISE
---------------------------
*/

#promise .page-header {
  text-align: center;
}

.page-header .title-blue {
  font-size: 3.5em;
}

.page-header .p-text {
  font-size: 1.4em;
  line-height: 2.3rem;
}

@media screen and (min-width: 768px){
  .page-header .p-text {
      font-size: 2.4rem;
      line-height: 3.1rem;
  }
}

.lil-promise {
    text-align: center;
    border-top: 1px solid #eee;
}

@media (min-width: 768px){
  .lil-promise {
      margin: 0 0 30px;
      border: 0;
  }
}

@media (min-width: 768px){
  .lil-promise .icon {
      width: 80px;
      height: 80px;
  }
}

/*
---------------------------
COMMUNITY
---------------------------
*/

.section-community {
    background-color: #75b9e7;
    overflow: hidden;
    padding: 75px 0 200px;
}

@media (min-width: 768px){
  .section-community {
      padding: 50px 0 150px;
  }
}

@media (min-width: 992px){
  .section-community {
      padding: 75px 0 200px;
  }
}

/*
-------------------------
MEDIA
-------------------------
*/
