@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

/*
----------------------------
COMMON
----------------------------
*/

.text-blue {
  color: blue;
}

/*
---------------------------
OUR WORK
---------------------------
*/

.section {
  margin: 0 0 50px;
  text-align: center;
}

@media (min-width: 768px){
  .section {
      text-align: left;
  }
}

.section-span {
  position: relative;
  width: 225px;
  height: 225px;
  margin: 0 auto 20px;
  background-color: #FFCC66;
  border-radius: 50%;
}

/*
---------------------------
OUR PROMISE
---------------------------
*/

.page-header {
  text-align: center;
}
